<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iron Beer</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/beers">Beers</a>
        <a href="/random-beers">Random Beers</a>
    </nav>
    {{{body}}}
    
    {{!-- <div class="btn">
        <a href="/beers">Click the Beer!</a><br>
        <a href="/random-beers">Click a Random Beer!</a>
    </div> --}}
    <footer>Develop by Ironhack :</footer>
</body>
</html>